<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find amr_description)/urdf/common_inertia.xacro"/>
    <xacro:macro name="camera_xacro" params="length width height xyz prefix">
        <link name="${prefix}camera_link">
            <visual>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="green">
                    <color rgba="0.0 1.0 0.0 0.8"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="green">
                    <color rgba="0.0 1.0 0.0 0.8"/>
                </material>
            </collision>
             <xacro:box_inertia m="${0.6}" l="${length}" w="${width}" h="${height}"/>
        </link>
        <joint name="${prefix}camera_joint" type="fixed">
            <parent link="${prefix}base_link"/>
            <child link="${prefix}camera_link"/>
            <origin xyz="${xyz}"/>
        </joint>
        <link name="${prefix}camera_optical_link"></link>
        <joint name="${prefix}camera_optical_joint" type="fixed">
            <parent link="${prefix}camera_link"/>
            <child link="${prefix}camera_optical_link"/>
            <origin xyz="0 0 0" rpy="${-PI / 2} 0.0 ${-PI / 2} "/>
        </joint>    
    </xacro:macro> 
</robot>
